@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rajdhani:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #0c0a08;

  color: #bfae9c;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.o-i-header.is-open .o-i-header-background {
  left: 0;
}
.o-i-header-button-wrapper {
  margin-left: auto;
}
.o-i-header-icon {
  display: none;
}

.o-i-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.o-i-navigation-list.is-open {
  right: 0;
}
.o-i-header-icon-menu {
  display: block;
}

.o-i-header-icon-button.is-open .o-i-header-icon-menu {
  display: none;
}

.o-i-header-icon-button.is-open .o-i-header-icon-close {
  display: block;
}

.o-i-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 48px;
  background: #0c0a08;
}

.o-i-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #0c0a08;
}
.o-i-header.is-open .o-i-header-background {
  left: 0;
}
.o-i-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.o-i-header-icon-menu {
  display: block;
}

.o-i-header-icon-button.is-open .o-i-header-icon-menu {
  display: none;
}

.o-i-header-icon-button.is-open .o-i-header-icon-close {
  display: block;
}

.o-i-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 24px;
  position: relative;
}

.o-i-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: fit-content;
  transition: 0.3s;
  z-index: 999;
  padding: 32px 0px;

  gap: 16px;
  background: #0c0a08;
  border-bottom: 1px solid #1c1713;
  box-shadow: 0px 8px 8px -4px #ffb46a80;
}

.o-i-navigation-list.is-open {
  right: 0;
}

.o-i-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #ffffff;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;

  border-bottom: 1px solid transparent;
  display: block;
  padding: 8px;
  width: 343px;
  text-align: center;
}

.o-i-navigation-link:hover,
.o-i-navigatioт-link:focus {
  color: #f5ede6;
  border-bottom: 1px solid #ffb46a;
}
.o-i-navigation-item-two {
  display: flex;

  gap: 100px;
  padding-top: 27px;
}
.o-i-navigation-item-desk {
  width: fit-content;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}
.o-i-header.is-open {
  background-color: transparent;
}

.o-i-navigation-img {
  display: none;
}
.o-i-header-terms {
  background-color: transparent;
}
.o-i-header-terms-img {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 30px;
  font-family: Rajdhani;
  font-weight: 400;
  font-style: Regular;
  font-size: 10px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  color: #f5ede6;
  text-decoration: none;
  text-align: center;
}
@media screen and (min-width: 1199px) {
  .o-i-navigation-img {
    display: block;
    margin-right: 80px;
  }
  .o-i-header-terms {
    background-color: transparent;
  }
  .o-i-header-terms-img {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 26px;
    margin-left: 60px;

    text-decoration: none;
    text-align: center;
  }
  .o-i-policy-terms-header-icon-menu {
    display: none;
  }
  .o-i-navigation-item-two {
    display: none;
  }
  .o-i-header-button-wrapper {
    display: none;
  }
  .o-i-header {
    width: 100%;
    height: 64px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border-bottom: 1px solid none;
  }

  .o-i-header-icon-button {
    display: none;
  }
  .o-i-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 16px 120px;
    margin: auto;
    border-bottom: 1px solid none;
  }

  .o-i-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;

    box-shadow: none;
    border: none;
  }

  .o-i-navigation-link {
    width: fit-content;
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 8px 24px;
  }

  .o-i-navigation-link:hover,
  .o-i-navigation-link:focus {
  }

  .o-i-navigation-item-desk {
    display: none;
  }
}

.o-i-home-container {
  width: 375px;
  height: 791px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/1.\ Home\ mob.png");
  margin: auto;
  padding: 80px 16px 0px;
  margin: auto;
}

.o-i-home-title {
  font-family: Playfair Display;
  font-weight: 400;
  font-style: Regular;
  font-size: 48px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;

  color: #f5ede6;
}

.o-i-home-text {
  font-family: Playfair Display;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;

  padding: 32px 30px 369px;
}
.o-i-home-link {
  transition: all 0.3s ease-in-out;
  background: #ffd9a3;
  border: 1px solid #ffb46a;
  box-shadow: 2px 3px 6px 0px #ff8a3d80;

  width: 280px;
  margin: auto;
  border-radius: 12px;
}

.o-i-home-link:hover {
  transform: scale(1.1);
  box-shadow: 2px 3px 6px 0px #ff8a3d80;
  border: 1px solid #ffb46a;
  background: linear-gradient(180deg, #ffd9a3 0%, #ffb46a 100%);
}

@media screen and (min-width: 1199px) {
  .o-i-home-container {
    width: auto;
    height: 879px;
    background-image: url("/img/1.\ HOME.png");
    margin: auto;
    padding: 112px;
    margin: auto;
  }

  .o-i-home-title {
    font-family: Playfair Display;
    font-weight: 400;
    font-style: Regular;
    font-size: 64px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .o-i-home-text {
    font-family: Playfair Display;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    padding: 32px 0 80px;
  }
}

.o-i-about-container {
  padding: 64px 0px;
  width: 375px;
  margin: auto;
}
.o-i-about-title-div {
  display: flex;
  align-items: center;
  gap: 16px;
}
.o-i-about-title-divs {
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    rgba(255, 138, 61, 0) 0%,
    #ff8a3d 100%
  );
  width: 100%;
}
.o-i-about-title-divss {
  border: 1px solid;

  width: 100%;
  border: 1px solid;

  border-image-source: linear-gradient(
    90deg,
    #ff8a3d 0%,
    rgba(255, 138, 61, 0) 100%
  );
  border-image-slice: 1;
}
.o-i-about-title {
  font-family: Playfair Display;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-wrap: nowrap;
}
.o-i-about-text-bold {
  font-family: Manrope;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
  color: #f5ede6;
  padding: 62px 21px 0px;
}

@media screen and (min-width: 1199px) {
  .o-i-about-container {
    padding: 80px 120px;
    width: 1440px;
  }

  .o-i-about-title-div {
    gap: 32px;
  }

  .o-i-about-title {
    font-family: Playfair Display;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }
  .o-i-about-text-bold {
    font-family: Manrope;
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;

    padding: 64px 344px 0px;
  }

  .o-i-about-text {
    font-family: Tomorrow;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 214px;
    padding: 43px 26px;
    width: 804px;
    margin: auto;
  }
}

.o-i-why-container {
  margin: auto;
  padding: 64px 0;
  width: 375px;
}
.o-i-why-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 64px 16px 0;
}
.o-i-why-item {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  border: 1px solid #261e18;
  background: linear-gradient(360deg, #0c0a08 0%, #18120e 100%);
  width: 343px;
  height: 496px;
  border-radius: 12px;
  padding: 32px;
}
.o-i-why-img {
  width: 270px;
  height: 270px;
  border-radius: 8px;
}
.o-i-why-text-bold {
  font-family: Manrope;
  font-weight: 200;
  font-style: ExtraLight;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
  color: #f5ede6;
}
.o-i-why-text {
  font-family: Manrope;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 32px;
}

@media screen and (min-width: 1199px) {
  .o-i-why-container {
    margin: auto;
    padding: 80px 120px;
    width: 1440px;
  }

  .o-i-why-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 64px 24px 0;
  }
  .o-i-why-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 560px;
    height: 264px;
    border-radius: 12px;
    padding: 32px;
    gap: 32px;
  }
  .o-i-why-text {
    width: 264px;
  }
  .o-i-why-img {
    width: 200px;
    height: 200px;
  }
  .o-i-why-item-two {
    flex-direction: row-reverse;
  }
}

.o-i-uniqueness-container {
  margin: auto;
  width: 375px;
  height: 1076px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/uniqueness/4\ Features\ mob.png");
  padding: 64px 0px;
}
.o-i-uniqueness-list {
  padding: 64px 16px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.o-i-uniqueness-item {
  display: flex;
  align-items: center;
  border-radius: 12px;
  gap: 16px;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 32px;

  background: linear-gradient(180deg, rgba(38, 30, 24, 0) 0%, #261e18 100%);
}
.o-i-uniqueness-img {
  width: 32px;
}

.o-i-uniqueness-text {
  font-family: Manrope;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 160%;
  letter-spacing: 0%;
}
.o-i-about-text-bold-two {
  padding: 64px 31px 0;
}
.o-i-about-text-bold-two-three {
  display: none;
}
@media screen and (min-width: 1199px) {
  .o-i-uniqueness-container {
    margin: auto;
    width: 1440px;
    height: 1017px;

    background-image: url("/img/uniqueness/4\ Features.png");
    padding: 80px 120px 0;
  }
  .o-i-about-text-bold-two {
    display: none;
  }
  .o-i-about-text-bold-two-three {
    display: block;

    padding: 64px 100px 0 !important;
  }
  .o-i-uniqueness-list {
    padding: 64px 36px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .o-i-uniqueness-item {
    width: 200px;
    height: 180px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 32px;
    border-radius: 12px;
    padding: 32px;
  }
  .o-i-uniqueness-img {
    width: 48px;
  }

  .o-i-uniqueness-text {
    font-family: Manrope;
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.o-i-how-container {
  margin: auto;
  background-image: url("/img/9\ contact\ mob.png");
  height: 521px;
  width: 375px;
  padding: 64px 0;
}
.o-i-how-div {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  padding-top: 64px;
}
.o-i-how-text {
  display: flex;
  align-items: center;
  gap: 16px;
}
.o-i-how-text-bold {
  text-decoration: none;
  color: #f5ede6;
  font-family: Manrope;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
}
.o-i-how-text-img {
  width: 24px;
}
@media screen and (min-width: 1199px) {
  .o-i-how-container {
    margin: auto;
    background-image: url("/img/9\ Contact.png");
    height: 898px;
    width: 1440px;
    padding: 80px 120px;
  }
  .o-i-how-div {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: row;
    justify-content: center;
    padding-top: 65px;
  }
  .o-i-how-text {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .o-i-how-text-bold {
    font-family: Manrope;
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 160%;
    letter-spacing: 0%;
  }
}

.o-i-faq-container {
  padding: 64px 0px;
  width: 375px;
  margin: auto;
}
.o-i-faq-list {
  padding: 64px 16px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.o-i-faq-item {
  padding: 8px 0;
}

.o-i-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Manrope;
  font-weight: 200;
  font-style: ExtraLight;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 160%;
  letter-spacing: 0%;
  border-bottom: 2px solid #1c1713;
  padding-bottom: 8px;
  gap: 24px;
  color: #f5ede6;
}

.o-i-faq-answer {
  font-family: Manrope;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 160%;
  letter-spacing: 0%;
}
.o-i-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.o-i-toggle-button img {
  width: 24px;
  transition: transform 0.3s ease;
}
.o-i-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
}

.o-i-faq-answer.open {
  max-height: 400px;
  opacity: 1;
  padding-top: 16px;
}

.o-i-toggle-button img.rotated {
  transform: rotate(360deg);
}
@media screen and (min-width: 1199px) {
  .o-i-faq-container {
    padding: 80px 120px;
    width: 1440px;
    margin: auto;
  }
  .o-i-faq-list {
    padding: 64px 69px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .o-i-faq-item {
    padding: 8px 4px;
  }

  .o-i-faq-question {
    font-family: Manrope;
    font-weight: 200;
    font-style: ExtraLight;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 160%;
    letter-spacing: 0%;
  }

  .o-i-faq-answer {
    font-family: Manrope;
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 160%;
    letter-spacing: 0%;
  }
}

.o-i-gallery-container {
  width: 375px;

  margin: auto;
  padding: 64px 0px;
}
.o-i-gallery-list {
  width: auto;
  padding: 64px 16px 0;
  margin: auto;
}

.o-i-gallery-item {
  width: 293px;
  height: 198px;
  border: 2px solid #1c1713;
  border-radius: 8px;

  overflow: hidden;
  position: relative;
  margin: 0 8px;
}

.o-i-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.o-i-gallery-button-container {
  display: none;
}
@media screen and (min-width: 1199px) {
  .o-i-gallery-button-container {
    display: block;
  }

  .o-i-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }
  .o-i-gallery-button-icon {
    width: 88px;
  }
  .o-i-gallery-button:hover {
    scale: 120%;
  }

  .o-i-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 80px 120px;
    position: relative;
  }
  .o-i-gallery-list-left {
    position: absolute;
    top: 400px;
    left: 120px;
  }
  .o-i-gallery-list-right {
    position: absolute;
    top: 400px;
    right: 120px;
  }
  .o-i-gallery-item {
    width: 889px;
    height: 500px;

    border-radius: 12px;
    border-width: 2px;

    margin: 0 16px;
  }

  .o-i-gallery-list {
    padding: 64px 130px 0;
  }
}

.o-i-user-container {
  width: 375px;

  margin: auto;
  padding: 64px 0px;
}
.o-i-user-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 64px 16px 0;
}

.o-i-user-item {
  width: 343px;
  height: 121px;
  border-radius: 12px;
  padding: 16px;
  background: linear-gradient(180deg, #18120e 0%, rgba(24, 18, 14, 0) 100%);
}
.o-i-user-item-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Manrope;
  font-weight: 200;
  font-style: ExtraLight;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 160%;
  letter-spacing: 0%;
  color: #bfae9c;
}
.o-i-user-image {
  height: 14px;
}
.o-i-user-text {
  font-family: Manrope;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 160%;
  letter-spacing: 0%;
  color: #f5ede6;
  padding-top: 23px;
}
@media screen and (min-width: 1199px) {
  .o-i-user-container {
    width: 1440px;

    margin: auto;
    padding: 80px 120px;
  }
  .o-i-user-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 64px 36px 0;
  }

  .o-i-user-item {
    width: 200px;
    height: 175px;
    border-radius: 12px;
    padding-top: 32px;
    padding-right: 16px;
    padding-bottom: 32px;
    padding-left: 16px;
  }
}

.o-i-policy-terms-container {
  padding: 104px 16px 48px;
  width: 375px;
  margin: auto;
  font-family: Manrope;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 160%;
  letter-spacing: 0%;
}

.o-i-policy-terms-container h1 {
  text-transform: uppercase;
  margin-bottom: 40px;
  font-family: Playfair Display;
  font-weight: 400;
  font-style: Regular;
  font-size: 30px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #bfae9c;
}
.o-i-policy-terms-container h2 {
  margin: 24px 0 16px;
  font-family: Manrope;
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 160%;
  letter-spacing: 0%;
}
.o-i-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
}

.o-i-email-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1199px) {
  .o-i-policy-terms-container {
    padding: 128px 223px 48px;
    width: 1440px;
  }
  .o-i-policy-terms-container h1 {
    font-family: Playfair Display;
    font-weight: 400;
    font-style: Regular;
    font-size: 64px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.o-i-footer-container {
  width: 375px;
  padding: 64px 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.o-i-footer-img {
  width: 280px;
  box-shadow: 2px 3px 6px 0px #ff8a3d80;
  border: 1px solid #ffb46a;
  background: #ffd9a3;

  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.o-i-footer-img:hover {
  transform: scale(1.1);
  background: linear-gradient(180deg, #ffd9a3 0%, #ffb46a 100%);
  border: 1px solid #ffb46a;
  box-shadow: 2px 3px 6px 0px #ff8a3d80;
}

.o-i-footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.o-i-footer-text {
  font-family: Manrope;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 160%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: #f5ede6;
}

.o-i-footer-copyright {
  font-family: Manrope;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 160%;
  letter-spacing: 0%;
  color: #f5ede6;
}
.o-i-footer-copyright-two {
  display: none;
}
@media screen and (min-width: 1199px) {
  .o-i-footer-container {
    width: 1440px;
    padding: 80px;
  }

  .o-i-footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }

  .o-i-footer-text {
    font-family: Manrope;
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 160%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .o-i-footer-copyright {
    font-family: Manrope;
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 160%;
    letter-spacing: 0%;
  }
}
