@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #030a16;

  color: #e2ecff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.o-o-header.is-open .o-o-header-background {
  left: 0;
}
.o-o-header-button-wrapper {
  margin-left: auto;
}
.o-o-header-icon {
  display: none;
}

.o-o-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.o-o-navigation-list.is-open {
  right: 0;
}
.o-o-header-icon-menu {
  display: block;
}

.o-o-header-icon-button.is-open .o-o-header-icon-menu {
  display: none;
}

.o-o-header-icon-button.is-open .o-o-header-icon-close {
  display: block;
}

.o-o-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 48px;
  background: #030a16;
}

.o-o-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #030a16;
}
.o-o-header.is-open .o-o-header-background {
  left: 0;
}
.o-o-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.o-o-header-icon-menu {
  display: block;
}

.o-o-header-icon-button.is-open .o-o-header-icon-menu {
  display: none;
}

.o-o-header-icon-button.is-open .o-o-header-icon-close {
  display: block;
}

.o-o-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 24px;
  position: relative;
}

.o-o-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: fit-content;
  transition: 0.3s;
  z-index: 999;
  padding: 32px 0px;

  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;

  gap: 16px;
  background: #030a16;
  border-bottom: 1px solid #2a4361;
}

.o-o-navigation-list.is-open {
  right: 0;
}

.o-o-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #e2ecff;
  font-family: DM Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;

  border-bottom: 1px solid transparent;
  display: block;
  padding: 8px;
  width: 343px;
  text-align: center;
}

.o-o-navigation-link:hover,
.o-o-navigatioт-link:focus {
  color: #e2ecff;
  border-bottom: 2px solid #3c6ca9;
}
.o-o-navigation-item-two {
  display: flex;

  gap: 81px;
  padding-top: 95px;
}
.o-o-navigation-item-desk {
  width: fit-content;
  font-family: DM Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}
.o-o-header.is-open {
  background-color: transparent;
}

.o-o-navigation-img {
  display: none;
}
.o-o-header-terms {
  background-color: transparent;
}
.o-o-header-terms-img {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 30px;
  margin-left: -10px;
  font-family: DM Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  color: #e2ecff;
  text-decoration: none;
  text-align: center;
}
@media screen and (min-width: 1198px) {
  .o-o-navigation-img {
    display: block;
    margin-right: 300px;
  }
  .o-o-header-terms {
    background-color: transparent;
  }
  .o-o-header-terms-img {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 26px;
    margin-left: 0px;

    text-decoration: none;
    text-align: center;
  }
  .o-o-policy-terms-header-icon-menu {
    display: none;
  }
  .o-o-navigation-item-two {
    display: none;
  }
  .o-o-header-button-wrapper {
    display: none;
  }
  .o-o-header {
    width: 100%;
    height: 64px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border-bottom: 1px solid none;
  }

  .o-o-header-icon-button {
    display: none;
  }
  .o-o-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 8px 120px;
    margin: auto;
    border-bottom: 1px solid none;
  }

  .o-o-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 16px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;

    box-shadow: none;
    border: none;
  }

  .o-o-navigation-link {
    width: fit-content;
    font-family: DM Sans;
    font-weight: 300;
    font-style: Light;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;

    padding: 8px 16px;
  }

  .o-o-navigation-item-desk {
    display: none;
  }
}

.o-o-home-container {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/1.\ Home\ mob.png");
  margin: auto;
  padding: 112px 16px 0px;
  margin: auto;
}

.o-o-home-title {
  font-family: DM Sans;
  font-weight: 200;
  font-style: ExtraLight;
  font-size: 54px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 4%;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 8px #9dbdffcc;
}

.o-o-home-text {
  font-family: DM Sans;
  font-weight: 200;
  font-style: ExtraLight;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  padding: 248px 0px 32px;
}
.o-o-home-link {
  transition: all 0.3s ease-in-out;
  background: #9dbdff;
  border: 1px solid #3c6ca9;
  box-shadow: 1px 3px 3px 0px #9dbdffb2;

  width: 280px;
  margin: auto;
  border-radius: 12px;
}

.o-o-home-link:hover {
  transform: scale(1.1);
  background: linear-gradient(180deg, #9dbdff 0%, #6c9fe8 100%);
}

@media screen and (min-width: 1198px) {
  .o-o-home-container {
    width: auto;
    width: 1440px;
    height: 800px;
    background-image: url("/img/1.\ HOME.png");
    margin: auto;
    padding: 129px 0 0;
    margin: auto;
  }

  .o-o-home-title {
    font-family: DM Sans;
    font-weight: 200;
    font-style: ExtraLight;
    font-size: 120px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 8%;
    text-transform: uppercase;
    text-shadow: 0px 0px 8px #9dbdffcc;
  }

  .o-o-home-text {
    font-family: DM Sans;
    font-weight: 200;
    font-style: ExtraLight;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    width: 454px;
    padding: 0px;
    text-align: left;
    margin: 32px 0 64px 866px;
  }
  .o-o-home-link {
    margin: 0 0 0 866px;
  }
}

.o-o-about-container {
  padding: 64px 0px;
  width: 375px;
  margin: auto;
}

.o-o-about-title {
  font-family: DM Sans;
  font-weight: 200;
  font-style: ExtraLight;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #9dbdff;
  text-align: center;
}
.o-o-about-text-bold {
  font-family: DM Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  padding: 48px 31px 0px;
}

@media screen and (min-width: 1198px) {
  .o-o-about-container {
    padding: 80px 120px;
    width: 1440px;
  }

  .o-o-about-title {
    font-family: DM Sans;
    font-weight: 200;
    font-style: ExtraLight;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .o-o-about-text-bold {
    font-family: DM Sans;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding: 64px 0px 0px;
  }

  .o-o-about-text {
    font-family: Tomorrow;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 214px;
    padding: 43px 26px;
    width: 804px;
    margin: auto;
  }
}
.o-o-why {
  background: linear-gradient(180deg, #030a16 0%, #122134 50%, #030a16 100%);
}
.o-o-why-container {
  margin: auto;
  padding: 64px 16px;
  width: 375px;
}
.o-o-why-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 48px 1px 0;
}
.o-o-why-item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #2a4361;
  width: 340px;
  height: 112px;

  padding-top: 32px;
  padding-right: 48px;
  padding-bottom: 32px;
  padding-left: 48px;
  gap: 32px;
  border-radius: 999px;
  border-bottom-width: 1px;
  font-family: DM Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.o-o-why-img {
  width: 32px;
}

@media screen and (min-width: 1198px) {
  .o-o-why-container {
    margin: auto;
    padding: 80px 92px;
    width: 1440px;
  }
  .o-o-why {
    background: linear-gradient(180deg, #030a16 0%, #122134 50%, #030a16 100%);
  }

  .o-o-why-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 64px 0px 0;
    gap: 64px;
  }
  .o-o-why-item {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    gap: 10px;
    border-radius: 999px;
    border-bottom-width: 1px;
    padding: 32px;
    font-family: DM Sans;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .o-o-why-img {
    width: 32px;
  }
}

.o-o-uniqueness-container {
  margin: auto;
  width: 375px;
  height: 1249px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/3\ How\ to\ Use\ mob.png");
  padding: 64px 16px;
}
.o-o-uniquenesstitle-text {
  font-family: DM Sans;
  font-weight: 200;
  font-style: ExtraLight;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding: 48px 0 32px;
}
.o-o-uniquenesstitle-text-two {
  font-family: DM Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.o-o-uniqueness-list {
  padding: 48px 26px 0;
  display: flex;
  flex-direction: column;
}
.o-o-uniqueness-item {
  border-bottom: 1px solid #2a4361;
  width: 290px;
  height: 140px;
  border-radius: 999px;
  padding: 46px 32px;
  font-family: DM Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  background: linear-gradient(180deg, #030a16 0%, #122134 100%);
}

@media screen and (min-width: 1198px) {
  .o-o-uniqueness-container {
    margin: auto;
    width: 1440px;
    height: 1195px;

    background-image: url("/img/3\ How\ to\ Use.png");
    padding: 80px 224px 0;
  }
  .o-o-uniquenesstitle-text {
    font-family: DM Sans;
    font-weight: 200;
    font-style: ExtraLight;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding: 64px 0 32px;
  }
  .o-o-uniquenesstitle-text-two {
    font-family: DM Sans;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .o-o-uniqueness-list {
    padding: 64px 0px 0;
    display: flex;
    flex-direction: row;
    gap: 64px;
  }
  .o-o-uniqueness-item {
    width: 200px;
    height: 200px;

    border-radius: 999px;
    padding: 64px 32px;
  }
}

.o-o-how-container {
  margin: auto;
  background-image: url("/img/8\ contact\ mob.png");
  height: 585px;
  width: 375px;
  padding: 64px 41px;
}
.o-o-how-div {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  padding-top: 48px;
}
.o-o-how-text {
  display: flex;
  align-items: center;
  gap: 16px;
}
.o-o-how-text-bold {
  text-decoration: none;
  color: #e2ecff;
  font-family: DM Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.o-o-how-text-img {
  width: 24px;
}
.o-o-how-text-bold-two {
  font-family: DM Sans;
  font-weight: 200;
  font-style: ExtraLight;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (min-width: 1198px) {
  .o-o-how-container {
    margin: auto;
    background-image: url("/img/8\ Contact.png");
    height: 904px;
    width: 1440px;
    padding: 80px 120px;
  }
  .o-o-how-div {
    display: flex;
    align-items: center;
    gap: 16px;

    justify-content: center;
    padding-top: 65px;
  }
  .o-o-how-text {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .o-o-how-text-bold-two {
    font-family: DM Sans;
    font-weight: 200;
    font-style: ExtraLight;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .o-o-how-text-bold {
    font-family: DM Sans;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.o-o-faq-container {
  padding: 64px 16pxpx;
  width: 375px;
  margin: auto;
}
.o-o-faq-list {
  padding: 48px 0px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.o-o-faq-item {
  padding: 8px 32px;
}

.o-o-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: DM Sans;
  font-weight: 200;
  font-style: ExtraLight;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 150%;
  padding-bottom: 6px;
  padding-top: 8px;
  border-bottom: 2px solid #122134;
}

.o-o-faq-answer {
  font-family: DM Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.o-o-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.o-o-toggle-button img {
  width: 24px;
  transition: transform 0.3s ease;
}
.o-o-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
}

.o-o-faq-answer.open {
  max-height: 400px;
  opacity: 1;
  padding-top: 16px;
}

.o-o-toggle-button img.rotated {
  transform: rotate(360deg);
}
@media screen and (min-width: 1198px) {
  .o-o-faq-container {
    padding: 80px 189px;
    width: 1440px;
    margin: auto;
  }
  .o-o-faq-list {
    padding: 64px 0px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .o-o-faq-item {
    padding: 8px 4px;
  }

  .o-o-faq-question {
    font-family: DM Sans;
    font-weight: 200;
    font-style: ExtraLight;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .o-o-faq-answer {
    font-family: DM Sans;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.o-o-gallery-container {
  width: 375px;

  margin: auto;
  padding: 64px 0px;
}
.o-o-gallery-list {
  width: auto;
  padding: 12px 16px 0;
  margin: auto;
}

.o-o-gallery-item {
  width: 303px;
  height: 177px;
  border: 1px solid #2a4361;
  border-radius: 16px;

  overflow: hidden;
  position: relative;
  margin: 0 8px;
}

.o-o-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.o-o-gallery-button-container {
  display: none;
}
@media screen and (min-width: 1198px) {
  .o-o-gallery-button-container {
    display: block;
  }

  .o-o-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }
  .o-o-gallery-button-icon {
    width: 72px;
  }
  .o-o-gallery-button:hover {
    scale: 120%;
  }

  .o-o-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 80px 0px;
    position: relative;
  }
  .o-o-gallery-list-left {
    position: absolute;
    top: 383px;
    left: 120px;
  }
  .o-o-gallery-list-right {
    position: absolute;
    top: 383px;
    right: 120px;
  }
  .o-o-gallery-item {
    width: 500px;
    height: 281px;

    border-radius: 32px;

    margin: 0 16px;
  }

  .o-o-gallery-list {
    padding: 32px 192px 0;
  }
}
.o-o-user {
  background: linear-gradient(180deg, #030a16 0%, #122134 50%, #030a16 100%);
}
.o-o-user-container {
  width: 375px;

  margin: auto;
  padding: 64px 17px;
}
.o-o-user-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 48px 0px 0;
}

.o-o-user-item {
  width: 340px;
  height: 120px;

  gap: 16px;
  border-radius: 8px;

  padding: 16px;

  border-bottom: 1px solid #3c6ca9;
  background: linear-gradient(180deg, rgba(18, 33, 52, 0) 0%, #2a4361 100%);
}
.o-o-user-item-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: DM Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  color: #9dbdff;
}
.o-o-user-image {
  height: 12px;
}
.o-o-user-text {
  font-family: DM Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  padding-bottom: 16px;
}
@media screen and (min-width: 1198px) {
  .o-o-user-container {
    width: 1440px;

    margin: auto;
    padding: 80px 178px;
  }
  .o-o-user {
    background: linear-gradient(180deg, #030a16 0%, #122134 50%, #030a16 100%);
  }

  .o-o-user-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    padding: 64px 0px 0;
  }

  .o-o-user-item {
    width: 340px;
    height: 120px;

    gap: 16px;
    border-radius: 8px;

    padding: 16px;

    border-bottom: 1px solid #3c6ca9;
    background: linear-gradient(180deg, rgba(18, 33, 52, 0) 0%, #2a4361 100%);
  }
}

.o-o-policy-terms-container {
  padding: 104px 16px 48px;
  width: 375px;
  margin: auto;
  font-family: DM Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.o-o-policy-terms-container h1 {
  text-transform: uppercase;
  margin-bottom: 40px;
  font-family: DM Sans;
  font-weight: 200;
  font-style: ExtraLight;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #9dbdff;
  text-align: center;
}
.o-o-policy-terms-container h2 {
  margin: 24px 0 16px;
  font-family: DM Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.o-o-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
}

.o-o-email-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1198px) {
  .o-o-policy-terms-container {
    padding: 144px 223px 48px;
    width: 1440px;
  }
  .o-o-policy-terms-container h1 {
    font-family: DM Sans;
    font-weight: 200;
    font-style: ExtraLight;
    font-size: 64px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
}

.o-o-footer-container {
  width: 375px;
  padding: 64px 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.o-o-footer-img {
  width: 280px;
  box-shadow: 1px 3px 3px 0px #9dbdffb2;
  border: 1px solid #3c6ca9;
  background: #9dbdff;

  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.o-o-footer-img:hover {
  transform: scale(1.1);
  background: linear-gradient(180deg, #9dbdff 0%, #6c9fe8 100%);
  box-shadow: 1px 3px 3px 0px #9dbdffb2;
}

.o-o-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.o-o-footer-text {
  font-family: DM Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
  color: #e2ecff;
}

.o-o-footer-copyright {
  font-family: DM Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.o-o-footer-copyright-two {
  display: none;
}
@media screen and (min-width: 1198px) {
  .o-o-footer-container {
    width: 1440px;
    padding: 80px;
    flex-direction: row;
    gap: 250px;
    padding: 80px 120px;
  }

  .o-o-footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
    width: 210px;
  }

  .o-o-footer-text {
    font-family: DM Sans;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }
  .o-o-footer-copyright-two {
    display: block;
  }
  .o-o-footer-copyright-one {
    display: none;
  }
  .o-o-footer-copyright {
    font-family: DM Sans;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    text-align: left;
    letter-spacing: 0%;
    width: 210px;
  }
}
